#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body {
  background-color: #2C3E50;
  display: block;

  * {
    margin: 0;
    padding: 0;
  }

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-jogo {
  width: 296px;
  height: 88px;

  background-color: #ECF0F1;

  color: #34495E;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
}

.container-jogo header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
